body {
  height: 200vh;
  background-color: grey;
  /* overflow: hidden; */
}

.nav {
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-between;
  /* padding: 0px 30px; */
}

.fixed {
  position: fixed;
  width: 100%;
}

.sidebar {
  height: 100vh;
  background-color: black;
  color: white;
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  width: 300px;
  padding-left: 20px;
}

.sidebar h3 {
  padding: 10px 0px;
  transition: 1s;
}

.sidebar h3:hover {
  background-color: gray;
}

#menu,
#cancel {
  border: none;
  background: transparent;
  font-size: 35px;
  font-weight: 900;
  transition: 1s;
}

#menu:hover {
  transform: rotate(90deg);
}

.cancelDiv {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#cancel {
  color: white;
}

#cancel:hover {
  transform: rotate(360deg);
}

.btnDiv button {
  height: 6vh;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

#events {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

#input {
  padding: 15px 120px;
  outline: none;
  border: none;
  background-color: whitesmoke;
}

#button {
  padding: 15px 40px;
  border: none;
  margin-left: -4px;
  background-color: black;
  color: white;
}

#todo {
  overflow-x: auto;
  height: 40vh;
  margin-top: 20px;
}

#todo div {
  display: flex;
  width: 54vw;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-top: 10px;
}

#todo button {
  height: 7vh;
  padding: 0px 10px;
  border: none;
}

#todo h1 {
  margin-left: 5px;
}
